$large: 1.5rem;
$medium: 1.06rem;
$small: 0.88rem;

.fragment {
    display: inline-block;

    &__title {
        color: var(--secondary-color);
        font: 2.25rem var(--times-font);
        margin-bottom: 16px; // margin: 24px 0 16px 0;
    }

    &__subtitle {
        color: var(--primary-color);
        font: $large var(--default-font);
        margin: 16px 0 12px 0;
    }

    &__description {
        margin: 18px 0;
    }

    a {
        color: var(--links-color);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline dashed;
            color: var(--hover-links-color)
        }
    }

    &__description,
    a {
        white-space: pre-line;
        letter-spacing: 0px;
    }

    &__description,
    &__list,
    a {
        font-size: $medium;
    }

    &__image {
        float: right;
        width: 382.25px;
        max-height: 100%;
        margin: 0 0 9px 32px;
        pointer-events: none;
    }

    &__list {
        margin: 17px 0;
        padding-left: 32px;

        +.fragment__description {
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 1207px) {
        &__image {
            width: 41.68%
        }
    }

    @media screen and (max-width: 1024px) {
        &__title {
            font-size: $large;
            margin-bottom: 12px; // margin: 16px 0 12px 0;
        }

        &__subtitle {
            font-size: $medium;
            margin: 12px 0 8px 0;
        }

        &__description {
            margin: 14px 0;
        }

        &__description,
        &__list,
        a {
            font-size: $small;
            line-height: 1.5;
        }

        &__list {
            margin: 14px 0;

            +.fragment__description {
                margin-top: 35px;
            }
        }
    }

    @media screen and (max-width: 480px) {
        &__image {
            float: none;
            width: 100%;
            margin: 0;
        }

        &__title {
            margin-bottom: 8px;
            font-size: $medium;
        }

        &__subtitle {
            margin: 8px 0;
        }

        &__subtitle,
        &__description,
        &__list,
        a {
            font-size: $small;
        }
    }

    @media screen and (max-width: 165px) {
        &__title {
            font-size: 11vw;
        }

        &__subtitle,
        &__description,
        &__list {
            margin: 8vw 0;
        }

        &__subtitle,
        &__description,
        &__list,
        a {
            font-size: 9vw;
        }

        &__list {
            padding-left: 20%;

            +.fragment__description {
                margin-top: 20vw;
            }
        }
    }

    @media print {
        &__title {
            font-size: 175%;
        }

        &__subtitle {
            font-size: 135%;
        }

        &__description,
        &__list,
        a {
            font-size: 125%;
            line-height: normal;
        }

        &__image {
            width: 40%;
        }
    }
}

.center-text {
    text-align: center;
}