.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
    width: 917.4px;
    padding: 67px 0 90px 0;

    &__contact-btn {
        background-color: var(--primary-color);
        width: max-content;
        color: white;
        text-transform: uppercase;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        padding: 8.75px 17.5px;
        margin: 35px 0 8px 0;
        border: 1px 0;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 1.5px;
        border-radius: 2px;
        box-shadow: 0 2px 10px var(--shadow-color);
    }

    &__break {
        display: block;
        margin-bottom: 2em;
    }

    @media screen and (max-width: 1207px) {
        width: calc(79% - 37px);
    }

    @media screen and (max-width: 480px) {
        width: calc(100% - 48px);
        padding: 0 0 60px 0;

        &__contact-btn {
            width: 100%;
        }
    }

    @media screen and (max-width: 162px) {
        width: 85%;
        padding-bottom: 40vw;

        &__contact-btn {
            font-size: 8vw;
            padding: 8.75px 5vw;
            margin-top: 20vw;
        }

        &__break {
            margin-bottom: 20vw;
        }
    }

    @media print {
        width: var(--print-width);
        padding: 5vw 0 0 0;

        &__contact-btn {
            display: none;
        }
    }
}