<app-parallax-text [content]="content" [titleClass]="'center'"
    [subtitleClass]="'center shadow-gradient box-bigger text-bigger'" [backgroundClass]="'huge'" [coverClass]="'huge'"
    [overlayClass]="'grandient-filter'">
</app-parallax-text>
<app-banner />
<div class="section">
    <app-fragment [fragment]="fragment1" [sectionClass]="'center-text'" />
</div>
<app-banner-links [links]="links" />
<div class="section">
    <app-fragment [fragment]="fragment2" />
</div>
<app-banner />
<app-parallax-text [content]="content2" [subtitleClass]="'text-bigger'" />
<div class="section">
    <app-fragment [fragment]="fragment3" [sectionClass]="'center-text'" />
</div>
<div class="section">
    <app-fragment [fragment]="fragment4" [sectionClass]="'center-text'" />
</div>